body {
    text-align: center;
    background-color: black;
}

div {
    background-color: blueviolet;
    text-align: center;
    color:aliceblue;
    height: 100%;
}

h1{
    color: whitesmoke;
    font-weight: bold;
}

.bottom-hr { 
    padding: 80;
}

.h1 {
    padding: 8px;
}

.bottom-hr {
    padding-bottom: 80px;
}
li {
    background-color: rgb(123, 11, 227);
    border: 1px dotted white;
}

ul {
    list-style-type: none ;
}